.app-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: unset!important;
    margin-top: unset!important;
    margin-right: unset!important;
    font-weight: 900;
    font-size: larger;  
    
}